pillow==10.4.0
python-dotenv
langchain-openai
langchain-classic
langchain-community
chromadb
sentence-transformers==2.7.0
huggingface-hub==0.26.2
edge-tts
gTTS
pydantic
requests
moviepy
fastapi
uvicorn
jinja2
python-multipart